  
<!DOCTYPE html>
<html class="full" lang="en" ng-app>
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InternetAtlas.IO</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/internetatlas.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Gov APO Key  bhnKf81FrVPMHpmGw3QYgC3TsovarLZl0qlS6X3k -->
</head>

<body onload="startUp()">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->  
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">InternetAtlas.io</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Legals</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>Internet Atlas</h1>
                <p>Discover more about your interwebs then just the pipes.</p></p>
            </div>
        </div>
        
        <ul class="my-new-list"></ul>
        
        <form class="form-inline" role="form">
                
            <div class="col-md-6 col-sm-12">
                <div ng-controller="Note">
                  <div ng-repeat="item in items">
                    <input type="text" placeholder="Address" class="form-control buffered" ng-model="item.address">
                    <input type="text" placeholder="City" class="form-control buffered" ng-model="item.city">
                    <input type="text" placeholder="State" class="form-control micro-buffered" ng-model="item.state">
                  </div>
                  <button ng-click="add()" class="btn btn-primary buffered">Add Address</button>
                  <button type="submit" onClick="pullData();" id="action-button" class="btn btn-primary buffered">Compare</button>
                </div>
            </div>
            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    
    <script type="text/javascript">

      var Note = function($scope){
        $scope.items = [];

        $scope.add = function () {
          $scope.items.push({ 
            address: "",
            city:"",
            state:""
          });
        };
      }

    </script>
    
    <script>
        //Create session ID and connect to MongoDB and create temp table
        function startUp(){
            var j = 32;
            var sessionID = "";
            var picker = "abcdefghijklmnopstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$%^&*()";
            for (var i = 0; i <= j; i++){
                sessionID = sessionID + picker[Math.floor((Math.random() * 62) + 1)];
            }
            
            loadSession();
        }
        
        

        function loadSession(){
                $(function(){
                    $.ajax({
                      url: 'http://vpn.rebirtharmitage.com:28107',
                      type: 'get',
                      dataType: 'jsonp',
                      jsonp: 'jsonp', // mongod is expecting the parameter name to be called "jsonp"
                      success: function (data) {
                        console.log('success', data);
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log('error', errorThrown);
                      }
                    });
                  });
        }  
    </script>
    

    
    <script>

                $.ajax({
                      url: 'http://vpn.rebirtharmitage.com:21701/test',
                      type: 'get',
                      dataType: 'jsonp',
                      jsonp: 'jsonp', // mongod is expecting the parameter name to be called "jsonp"
                      success: function (data) {
                        alert('success', data);
                      },
                      error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert('error', textStatus, errorThrown);
                      }
                    });
    /*
        $.ajax({
            url: "http://www.broadbandmap.gov/broadbandmap/broadband/jun2014/wireline?latitude=40.7195898&longitude=-73.9998334&format=jsonp",
            data: "{}",
            dataType: "jsonp",
            timeout: 5000,
            async: false,
             
             success:function(response){
                 alert("Success");
                 //This will call function to put this into temp data store
             },
             error:function( jqXHR, textstatus, errorThrown){
                 alert("Error " + jqXHR.responseText + "  " + textstatus);
             },
             onComplete:function(response){
                 
             }
        });*/
    </script>
    


    <!-- /.container -->
    <script type="text/javascript" 
         src="http://jquery-jsonp.googlecode.com/files/jquery.jsonp-1.0.4.min.js">
    </script>
    
    <!-- jQuery --> 
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
